### JupyterNotebooks ###
# gitignore template for Jupyter Notebooks
# website: http://jupyter.org/

.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Remove previous ipynb_checkpoints
#   git rm -r .ipynb_checkpoints/

__pycache__/
*/cache/*
cache
cache/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# 제외 폴더, 파일
*/참고자료/*
*/tmp
*/tmp.png
*/tree.dot
*/mytree.dot
Introduction to Machine Learning with Python\2 장. 지도학습\tree.dot
Introduction to Machine Learning with Python\2 장. 지도학습\mytree.dot
Introduction to Machine Learning with Python\2 장. 지도학습\tmp
Introduction to Machine Learning with Python\2 장. 지도학습\tmp.png